<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="ippr" name="entity-reader"
          version="0.1">
    <details>
        <title>Entity Reader</title>
        <authors>Julia Buchsbaum</authors>
        <image>images/catalogue.png</image>
        <description>Read a specific attribute from an entity</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <license>AGPLv3+ w/linking exception</license>
        <licenseurl>http://www.gnu.org/licenses/agpl-3.0.html</licenseurl>
        <doc>doc/userguide.md</doc>
        <changelog>doc/changelog.md</changelog>
    </details>
    <preferences>
        <preference name="attribute" label="Attribute" description="Name of the entity attribute" default="temperature"
                    type="text"/>
        <preference name="unit" label="Unit" description="Unit of the attribute" default="ºC" type="text"/>
    </preferences>
    <wiring>
        <outputendpoint name="output" type="text" label="Output"
                        description="Transformed Attribute from the received entity" friendcode="output"/>
        <inputendpoint name="entityInput" type="text" label="Entity"
                       description="Received entity will be transform to a Attribute" friendcode="entity"/>
    </wiring>
    <scripts>
        <script src="js/main.js"/>
    </scripts>
</operator>