<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FH-JOANNEUM" name="entity-reader"
          version="0.1">
    <details>
        <title>Entity Reader</title>
        <authors>Julia Buchsbaum</authors>
        <image>images/catalogue.png</image>
        <description>Read a specific attribute from an entity</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
        <doc>doc/userguide.md</doc>
        <changelog>doc/changelog.md</changelog>
    </details>
    <preferences>
        <preference name="attribute" label="Attribute" description="Name of the entity attribute" default="temperature"
                    type="text"/>
        <preference name="unit" label="Unit" description="Unit of the attribute" default="ºC" type="text"/>
        <preference name="valueType" label="Value type" description="Type of the attribute value" default="int" type="list">
            <option label="int" value="int"/>
            <option label="float" value="float"/>
            <option label="string" value="string"/>
        </preference>
    </preferences>
    <wiring>
        <outputendpoint name="output" type="text" label="Output"
                        description="Transformed Attribute from the received entity" friendcode="output"/>
        <inputendpoint name="entityInput" type="text" label="Entity"
                       description="Received entity will be transformed into an Attribute" friendcode="entity"/>
    </wiring>
    <scripts>
        <script src="js/main.js"/>
    </scripts>
</operator>