.styled_form td > .styled_select {
    width: 100%;
}

.div_spaced {
    margin: 10px 10px 10px 10px;
}

.hidden {
    display: none;
}

body {
  padding: 30px;
}

div {
  margin: auto;
  text-align: center;
  max-height: 700px;
  max-width: 700px;
}

button {
  margin: 6px;
  display: inline-block;
}
