<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="googlecharts" version="1.0.3">

  <details>
    <title>Google Charts</title>
    <authors>Carlos Blanco &lt;cblanco@conwet.com&gt;, Álvaro Arranz &lt;aarranz@conwet.com&gt;, Iris Muñoz &lt;imunoz@conwet.com&gt;</authors>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <description>This widget allows you to create any graph supported by Google Charts</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <homepage>https://github.com/Wirecloud/googlecharts-widget</homepage>
    <doc>doc/index.md</doc>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
    <changelog>doc/changelog.md</changelog>
  </details>

  <wiring>
    <inputendpoint name="input" type="text" label="Data in" description="Data Input. See the documentation for more information" friendcode="googlecharts-graph-data-in"/>
    <outputendpoint name="data_selected" type="text" label="Data Selected" description="Data Selection. See the documentation for more information" friendcode="googlecharts-graph-data-out"/>
  </wiring>

  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="406px" width="40%"/>
</widget>
