<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FH-JOANNEUM" name="time-filter" version="1.0">
    <details>
        <title>Time filter</title>
        <authors>Michael Janusch</authors>
        <image>images/catalogue.png</image>
        <description>Widget for filtering PoIs by timestamps</description>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
    </details>
    <requirements>
        <feature name="StyledElements"/>
    </requirements>
    <persistentvariables>
        <variable name="timestampSave" type="text"/>
    </persistentvariables>
    <preferences>
        <preference name="tz_offset" type="text" label="Timezone offset" description="Timezone offset to UTC in hours" default="+1"/>
    </preferences>
    <wiring>
        <outputendpoint name="timestamps" type="text" label="Timestamps" description="Start and end timestamps" friendcode="timestamps"/>
    </wiring>
    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="500px" width="33%"/>
</widget>
