<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FH-JOANNEUM" name="io-test" version="1.1">
    <details>
        <title>I/O test</title>
        <authors>Michael Janusch</authors>
        <image>images/catalogue.png</image>
        <description>Widget for testing the wiring input/output</description>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
    </details>
    <requirements>
        <feature name="StyledElements"/>
    </requirements>
    <preferences>
        <preference name="auto_forward" type="boolean" label="Forward input data to output endpoint" description="Automatically forward the unchanged input data to the output endpoint" default="false"/>
    </preferences>
    <persistentvariables>
        <variable name="textAreaSave" type="text"/>
    </persistentvariables>
    <wiring>
        <inputendpoint name="input" type="text" label="Input" description="Input data to show in text area" friendcode="input"/>
        <outputendpoint name="output" type="text" label="Output" description="Output created from text area" friendcode="output"/>
    </wiring>
    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="400px" width="33%"/>
</widget>
