<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FH-JOANNEUM" name="sth-location-operator" version="1.1">
    <details>
        <title>STH location operator</title>
        <homepage>https://github.com/wirecloud-fiware/sth-source</homepage>
        <authors>Buchsbaum Julia</authors>
        <image>images/catalogue.png</image>
        <description>Retrieve historical data for attribute location</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
        <doc>doc/userguide.md</doc>
        <changelog>doc/changelog.md</changelog>
    </details>
    <requirements>
        <feature name="NGSI"/>
    </requirements>
    <preferences>
        <preference name="sth_server" type="text" label="STH server URL" description="URL of the STH server to use for retrieving entity information" default="http://sth.lab.fiware.org:8666/STH"/>
        <preference name="ngsi_tenant" type="text" label="NGSI tenant/service" description="Tenant/service to use when connecting to the context broker. Must be a string of alphanumeric characters (lowercase) and the &quot;_&quot; symbol. Maximum length is 50 characters. If empty, the default tenant will be used" default="service"/>
        <preference name="ngsi_service_path" type="text" label="NGSI scope" description="Scope/path to use when connecting to the context broker. Must be a string of alphanumeric characters (lowercase) and the &quot;_&quot; symbol separated by &quot;/&quot; slashes. Maximum length is 50 characters. If empty, the default service path will be used: /" default="/"/>
        <preference name="attribute" type="text" label="Attribute" description="Attribute of the entity to query about." default="location" />
    </preferences>
    <wiring>
        <inputendpoint name="dataserie" label="Values" description="Data series" type="text" />
        <inputendpoint name="timestamps" label="Timestamps" description="Data timestamps" type="text" />
        <inputendpoint name="entity" type="text" label="Entity" description="Entity information to use for retrieving the historical information" />
        <inputendpoint name="attribute" type="text" label ="Attribute" description="Attribute for which the STH data was retrieved"></inputendpoint>
        <outputendpoint name="data" type="text" label="Data" description="Data" />
    </wiring>
    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
