<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FH-JOANNEUM" name="ol3-historic-map"
        version="1.0.10">
    <details>
        <title>OpenLayers Historic Heatmap</title>
        <image>images/catalogue.png</image>
        <description>Map widget using OpenLayers Heatmap.</description>
        <authors>Buchsbaum Julia</authors>
        <license>Apache License 2.0</license>
        <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
    </details>

    <requirements>
        <feature name="DashboardManagement"/>
        <feature name="StyledElements"/>
    </requirements>

    <preferences>
        <preference name="initialCenter" type="text" label="Initial Location"
                    description="Decimal coordinates where map will be centered on load (e.g. `52, 5`). Leave this setting empty if you don't want to center the map at init. Remember to change the initial zoom level if you provide an initial location."
                    default="15.421371,47.076668"/>
        <preference name="initialZoom" type="text" label="Initial Zoom Level"
                    description="Initial zoom level. From 1 to 22, where '1' represents the furthest level and '22' the maximum zoom level."
                    default="14"/>
        <preference name="minzoom" label="Min Zoom" type="text" description="" default="4"/>
    </preferences>

    <wiring>
        <inputendpoint name="heatmapData" type="text" label="Heatmap PoIs" description="Heatmap PoIs"/>
        <inputendpoint name="clear" type="text" label="Clear Heatmap" description="Clear Heatmap"/>
        <inputendpoint name="min" type="text" label="Min Attribute Value" description="Min Attribute Value"/>
        <inputendpoint name="max" type="text" label="Max Attribute Value" description="Max Attribute Value"/>
        <inputendpoint name="gradient" type="text" label="Gradient" description="Gradient for selected attribute"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="300px"/>
</widget>
