<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FH-JOANNEUM" name="sth-data-to-poi" version="1.1.3">
  <details>
    <title>STH Data to POIs</title>
    <authors>Buchsbaum Julia</authors>
    <image>images/catalogue.png</image>
    <description>Convert STH Source Data to PoIs.</description>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
  </details>
  <wiring>
    <outputendpoint name="poiOutput" type="text" label="PoI" description="Transformed Point of Interest from the received data" friendcode="poi"/>
    <inputendpoint name="sthData" type="text" label="STH Data" description="Received data will be transform to PoIs" friendcode="sthData"/>
  </wiring>
  <scripts>
    <script src="js/main.js"/>
  </scripts>
</operator>
